.calc{
	width:100%;
	height:500px;
	background:#FF3219;
	border:2px solid;
	margin-top:50px;
}

#screen{
	width:90%;
	height:50px;
	margin-top:5%;
	margin-left:5%;
	pointer-events: none;
	padding-left:20px;
	font-size: 30px;
}

.btn {
	width: 50px;
	height: 50px;
	margin-top: 20px;
	margin-left: 25px;
	background: black;
	color: yellow;
}

.clears{
	margin-top:20px;
	width: 300px;
	height: 50px;
	margin-left: 25px;
	background: #00A5FF;
	color: black;
}

.opera input[type="text"]{
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left:10px;
	padding-left: 5px;
	border: 3px;
	border-color: yellow;
	font-size: 20px;
}