:root {
  --white: #f9faff;
  --platinum: #e3e4e8;
  --windsurfing: #32779b;
  --marina: #5a91c7;
  --gray: #9a9a9a;
  --onyx: #3c3d44;
  --charcoal: #343c47;
  --corners: 24px 0;
  --base-font-size: 1rem;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 4px;
}

body {
  font-size: var(--base-font-size);
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight:bold;
  color: black;
}

h2 {
  color: #595959;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  margin-top: .5rem !important;
  line-height: 2.5rem;
}

h3 {
  color: #595959;
  font-size: 1rem;
  font-weight: 400;
}

img {
  max-width: 100%
}

.icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  padding-top: 2.5rem;
}

p {
  text-align: center;
  color: #595959;
  margin-top: 3rem;
}

ul svg {
  height: 34px;
}
